
:root {
    /* Main Colors */
    --primary-color: #6031DF;
    --primary-hover: #5124C8;
    --dark-color: #1A1B20;

    /* Backgrounds */
    --background-color: #FFFFFF;
    --card-background: #FEFEFE;
    --soft-background: #F9F9FA;

    /* Text */
    --text-color: #1A1B20;
    --secondary-text: #5C5E66;
    --muted-text: #8A90A0;

    /* Borders & Shadows */
    --border-color: #EDEDEE;
    --shadow-color: rgba(0, 0, 0, 0.08);

    /* Success / Stock */
    --success-color: #03880e24;
    --success-background: #F4F9F1;
    --success-border: #D4E7D0;

    /* Danger */
    --danger-color: #DC2626;

}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color:var(--background);
    color:var(--text-dark);
    line-height:1.6;
}

