
:root {
    --primary: #E85D04;
    --secondary: #F48C06;
    --dark: #1F1F1F;
    --background: #FAFAF8;
    --card: #FFFFFF;
    --card-hover :#a6511890;
    --text-dark: #252525;
    --text-light:#E8E4DD;

    --shadow-sm:0 4px 10px rgba(0,0,0,.08);
    --shadow-md:0 10px 30px rgba(0,0,0,.12);
    --shadow-lg:0 15px 40px rgba(0,0,0,.18);

    --transition:.3s ease-in-out;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color:var(--background);
    color:var(--text-dark);
    line-height:1.6;
}

